@import "../../../shared/scss/mixins/components/bookmark.mixins";

.bookmark-item {
  padding-bottom: 12px;

  &__error {
    color: red;
    font-size: 0.75rem;
  }

  &__button-group {
    @include bookmark-button-group();
  }

  &__button {
    @include bookmark-button();
  }

  &__form {
    @include bookmark-form();
  }

  &__label {
    @include bookmark-label();
  }

  &__input {
    @include bookmark-input();
  }
}
