<div class="bookmark-item">
  <div class="bookmark-item__content">
    <div class="bookmark-item__button-group">
      <button *ngIf="!editMode" (click)="onEdit($event)" class="bookmark-item__button">edit</button>
      <button *ngIf="editMode" (click)="onEditClose($event)" class="bookmark-item__button is-close">close</button>
      <button (click)="onDelete($event)" class="bookmark-item__button">delete</button>
    </div>
    <a target="_blank" rel="noopener" href="{{bookmark.url}}" *ngIf="bookmark.url">{{bookmark.title || bookmark.url}}</a>
    <span *ngIf="!bookmark.url && bookmark.title">{{bookmark.title}} <span class="bookmark-item__error">(Missing url)</span></span>
  </div>
  <div *ngIf="editMode" class="bookmark-item__form">
    <div class="bookmark-item__form-group">
      <label class="bookmark-item__label" [attr.for]="'title-' + bookmark.id">Title</label>
      <input class="bookmark-item__input" type="text" [id]="'title-' + bookmark.id" [(ngModel)]="bookmark.title" (ngModelChange)="onBookmarkChange($event)" />
    </div>
    <div class="bookmark-item__form-group">
      <label class="bookmark-item__label" [attr.for]="'url-' + bookmark.id">URL</label>
      <input class="bookmark-item__input" type="text" [id]="'url-' + bookmark.id" [(ngModel)]="bookmark.url" (ngModelChange)="onBookmarkChange($event)" />
    </div>
  </div>
</div>
